h1, h2,  h4, h5, .card-text-teams{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

nav, h3{
  font-family: 'Roboto', sans-serif;
}

h1{
  color: #000;
}

h4, h5{
  font-size: 24px;
}

h2{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 40px;
}

span{
  text-decoration: none;
  color: #000;
  position: relative;
}

span:after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 50%;
  left: -0.1em;
  right: -0.1em;
  bottom: 0;
  background-color: #ffd800;
}

.btn{
  font-size: 15px;
  font-weight: bold;
  padding: 7px 45px;
  margin: auto;
  border-radius: 50rem;
  /* box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1); */
  background-color: #ffd800;
}


/* Navbar */
nav .nav-link{
  font-size: 20px;
  color: #555555;
}

nav a:hover{
  color: #ffd800 !important;
}


/* TEAMS */
.teams .text {
  max-width: 400px;
  height: auto;
  margin: auto;
}

.teams img{
  width: 200px;
  height: auto;
}

.teams p{
  color: #555555
}

.teams .card{
  margin: 30px auto;
}





/* TABLET VERSION */
@media (min-width: 700px) {

  .card img{
    width: 150px;
    height: auto;
  }

  h4{
    font-size: 17px;
  }

  p{
    font-size: 13px;
  }
}


/* DESKTOP VERSION */
@media (min-width: 992px) {

.teams img{
  width: 200px;
  height: auto;
}

  .teams .text {
    min-width: 800px;
    height: auto;
    margin: auto;
  }

  .teams h4{
    font-size: 30px;
  }

  .teams p{
    font-size: 20px;
    color: #555555
  }

}